
  @define-color background rgba(0, 0, 0, 1);
  @define-color foreground #deddda;

* {
  border: none;
  padding: 0px;
  min-height: 0;
  font-family: "RecMonoSMCasual Nerd Font";
  transition: background-color .3s ease-out;
  font-weight: bold;
  font-size: 12px;
}
window#waybar  {
  background-color: @background;
  transition-property: background-color;
  transition-duration: .5s;
}


#waybar > box {
  margin: 0px 4px -2px 4px;
}


.modules-left {
  border-radius: 0px;
  
  margin: 0px 0px 3px 0px;
  background-color: transparent;
  
  transition-property: background-color;
  transition-duration: .5s;
  padding-left: 4px;
  padding-right: 4px;
}

.modules-center {
  border-radius: 0px;
  
  margin: 0px 0px 3px 0px;
  background-color: transparent;
  
  transition-property: background-color;
  transition-duration: .5s;
}
.modules-right {
  border-radius: 0px;
  
  margin: 0px 0px 3px 0px;
  background-color: transparent;
  
  transition-property: background-color;
  transition-duration: .5s;
   padding-right: 4px;
   padding-left: 4px;
}


button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: inherit;
}

#workspaces {
    margin: 0px 0px;
    transition: 0.2s ease;
    padding: 1px 0px;
}


#workspaces button {
  padding: 1px 4px;
  margin: 0px;
  background: @background;
  color: @foreground;
  border: none;
  opacity: 0.5;
  font-weight: 900;
  border: none;
  border-radius: 0;
}

#workspaces button.active {
  color: @foreground;   
  transition: all 0.3s ease;
  padding: 1px 4px;
  opacity: 1.0;
}

#workspaces button:hover {
    background: transparent;
    color: alpha(@foreground, 0.4);
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty {
  opacity: 0.25;
  color: @foreground;   
  transition: all 0.3s ease;
  padding: 1px 4px;
}

#workspaces button.empty.active {
  opacity: 1;
  color: @foreground;   
  transition: all 0.3s ease;
  padding: 1px 4px;
}


#memory,
#mpris,
#custom-expand-icon,
#tray,
#cpu,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#idle_inhibitor,
#custom-idle-indicator,
  min-width: 10px;
  padding: 0 4px;
  margin: 1px 1.5px 1px 1px;
}

#custom-expand-icon {
  margin-right: 0px;
  opacity: 0.5;
}

#network {
  margin-left: 0;
}

#custom-separator {
  opacity: 0.2;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}


#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

/* Specific animation Module */

#mpris {
color: @foreground;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}
#cpu.warning,
#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#clock {
  margin-left: 4px;
  margin-right: 4px;
}

#pulseaudio {
  margin-right: 4px;
}

#tray-expander {
  margin-left: 2px;
}
